body.no-scroll {
	overflow: hidden
}
html.lenis {
	height: auto
}
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
body .transition {
	display: block
}
.no-scroll-transition {
	overflow: hidden;
	position: relative
}
.loader {
	display: flex
}
[js-line-animation] {
	visibility: hidden
}
[js-line-animation] .line {
	overflow: hidden
}
.about-webflow_circle-reflection-wrapper,
.about-webflow_reflection,
.no-click,
.pointer-events-off,
.transition,
.transition-flaps.is-home-1,
.transition-flaps.is-home-2 {
	pointer-events: none
}
.pointer-events-on {
	pointer-events: auto
}
.div-square::after {
	content: "";
	display: block;
	padding-bottom: 100%
}
main:focus-visible {
	outline: -webkit-focus-ring-color auto 0
}
.container-large,
.container-medium,
.container-small {
	margin-right: auto !important;
	margin-left: auto !important
}
.w-input,
a {
	color: inherit;
	text-decoration: inherit;
	font-size: inherit
}
.hide {
	display: none !important
}
@media screen and (max-width:991px) {
	.hide {
		display: none !important
	}}
@media screen and (max-width:479px) {
	.hide-mobile {
		display: none !important
	}}
.margin-0 {
	margin: 0 !important
}
.padding-0 {
	padding: 0 !important
}
.margin-top {
	margin-right: 0 !important;
	margin-bottom: 0 !important;
	margin-left: 0 !important
}
.padding-top {
	padding-right: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 0 !important
}
.margin-right {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	margin-left: 0 !important
}
.padding-right {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 0 !important
}
.margin-bottom {
	margin-top: 0 !important;
	margin-right: 0 !important;
	margin-left: 0 !important
}
.padding-bottom {
	padding-top: 0 !important;
	padding-right: 0 !important;
	padding-left: 0 !important
}
.margin-left {
	margin-top: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 0 !important
}
.padding-left {
	padding-top: 0 !important;
	padding-right: 0 !important;
	padding-bottom: 0 !important
}
.margin-vertical {
	margin-right: 0 !important;
	margin-left: 0 !important
}
.padding-vertical {
	padding-right: 0 !important;
	padding-left: 0 !important
}
.grain {
	pointer-events: none
}
html.wf-design-mode [href="#"] {
	outline: 3px solid #ff0 !important
}
@media screen and (min-width:768px) {
	[item-style=wide] {
		grid-column-start: span 2;
		grid-column-end: span 2;
		grid-row-start: span 1;
		grid-row-end: span 1
	}
	[item-style=tall] {
		grid-column-start: span 1;
		grid-column-end: span 1;
		grid-row-start: span 2;
		grid-row-end: span 2
	}}
.mht-home-hero-title .is-home-hero-h1:nth-child(1) .home-hero_h1 {
	opacity: 0;
	-webkit-transform: translate3d(0, 50%, 0) scale3d(1, 1, 1) rotateX(-49deg) rotateY(null) rotateZ(null) skew(0, 0);
	-moz-transform: translate3d(0, 50%, 0) scale3d(1, 1, 1) rotateX(-49deg) rotateY(null) rotateZ(null) skew(0, 0);
	-ms-transform: translate3d(0, 50%, 0) scale3d(1, 1, 1) rotateX(-49deg) rotateY(null) rotateZ(null) skew(0, 0);
	transform: translate3d(0, 50%, 0) scale3d(1, 1, 1) rotateX(-49deg) rotateY(null) rotateZ(null) skew(0, 0);
	transform-style: preserve-3d;
	filter: blur(2px)
}
.mht-home-hero-title .is-home-hero-h1:nth-child(2) .home-hero_h1 {
	-webkit-transform: translate3d(0, 50%, 0) scale3d(1, 1, 1) rotateX(-49deg) rotateY(null) rotateZ(null) skew(0, 0);
	-moz-transform: translate3d(0, 50%, 0) scale3d(1, 1, 1) rotateX(-49deg) rotateY(null) rotateZ(null) skew(0, 0);
	-ms-transform: translate3d(0, 50%, 0) scale3d(1, 1, 1) rotateX(-49deg) rotateY(null) rotateZ(null) skew(0, 0);
	transform: translate3d(0, 50%, 0) scale3d(1, 1, 1) rotateX(-49deg) rotateY(null) rotateZ(null) skew(0, 0);
	transform-style: preserve-3d;
	opacity: 0;
	filter: blur(2px)
}
.mht-home-hero-title .is-home-hero-h1:nth-child(3) .home-hero_h1 {
	opacity: 0;
	-webkit-transform: translate3d(0, 50%, 0) scale3d(1, 1, 1) rotateX(-49deg) rotateY(null) rotateZ(null) skew(0, 0);
	-moz-transform: translate3d(0, 50%, 0) scale3d(1, 1, 1) rotateX(-49deg) rotateY(null) rotateZ(null) skew(0, 0);
	-ms-transform: translate3d(0, 50%, 0) scale3d(1, 1, 1) rotateX(-49deg) rotateY(null) rotateZ(null) skew(0, 0);
	transform: translate3d(0, 50%, 0) scale3d(1, 1, 1) rotateX(-49deg) rotateY(null) rotateZ(null) skew(0, 0);
	transform-style: preserve-3d;
	filter: blur(2px)
}
.mht-home-hero-ph span:nth-child(1) {
	filter: blur(5px);
	-webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	-moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	-ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	opacity: 0
}
.mht-home-hero-ph span:nth-child(2) {
	opacity: 0;
	filter: blur(5px);
	-webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	-moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	-ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)
}
.mht-home-hero-ph span:nth-child(3) {
	filter: blur(5px);
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	-moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	-ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)
}
.mht-home-about-title .home-about_h2:nth-child(1) {
	-webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	-moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	-ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	filter: blur(10px);
	opacity: 0
}
.mht-home-about-title .home-about_h2:nth-child(2) {
	-webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	-moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	-ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	opacity: 0;
	filter: blur(10px)
}
.mht-home-about-title .home-about_h2:nth-child(3) {
	-webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	-moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	-ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	filter: blur(10px);
	opacity: 0
}
.mht-home-about-title .home-about_h2:nth-child(4) {
	-webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	-moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	-ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	opacity: 0;
	filter: blur(10px)
}
.home-about_h2 .mht-home-about-image {
	-webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	-moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	-ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
	filter: blur(0)
}
.work_card-glow-background {
	width: calc(100% + 12px);
	height: calc(100% + 12px)
}
.work_card-glow-background._2 {
	left: calc(-100% - 24px)
}
.work_card-glow-background._3 {
	top: calc(-100% - 24px)
}
.work_card-glow-background._4 {
	left: calc(-100% - 24px);
	top: calc(-100% - 24px)
}
[item-style="02/"].work_card-glow-background {
	left: calc(-100% - 24px)
}
[item-style="03/"].work_card-glow-background {
	top: calc(-100% - 24px)
}
[item-style="04/"].work_card-glow-background {
	left: calc(-100% - 24px);
	top: calc(-100% - 24px)
}
.work_card-glow-background {
	width: calc(100% + 12px);
	height: calc(100% + 12px)
}
.work_card-glow-background {
	width: calc(100% + 16px);
	height: calc(100% + 16px)
}
._02 {
	left: calc(-100% - 32px)
}
._03 {
	top: calc(-100% - 32px)
}
._04 {
	left: calc(-100% - 32px);
	top: calc(-100% - 32px)
}
._05 {
	top: calc(-200% - 32px)
}
._06 {
	left: calc(-100% - 32px);
	top: calc(-200% - 32px)
}
._07 {
	top: calc(-300% - 32px)
}
._08 {
	left: calc(-100% - 24px);
	top: calc(-300% - 32px)
}
html.lenis {
	height: auto
}
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
body .transition {
	display: block
}
.no-scroll-transition {
	overflow: hidden;
	position: relative
}
[js-line-animation] {
	visibility: hidden
}
[js-line-animation] .line {
	overflow: hidden
}
.about-webflow_circle-reflection-wrapper,
.about-webflow_reflection,
.no-click,
.pointer-events-off,
.transition,
.transition-flaps.is-home-1,
.transition-flaps.is-home-2 {
	pointer-events: none
}
.pointer-events-on {
	pointer-events: auto
}
.div-square::after {
	content: "";
	display: block;
	padding-bottom: 100%
}
main:focus-visible {
	outline: -webkit-focus-ring-color auto 0
}
.container-large,
.container-medium,
.container-small {
	margin-right: auto !important;
	margin-left: auto !important
}
.w-input,
a {
	color: inherit;
	text-decoration: inherit;
	font-size: inherit
}
.hide {
	display: none !important
}
@media screen and (max-width:991px) {
	.hide {
		display: none !important
	}}
@media screen and (max-width:479px) {
	.hide-mobile {
		display: none !important
	}}
.margin-0 {
	margin: 0 !important
}
.padding-0 {
	padding: 0 !important
}
.margin-top {
	margin-right: 0 !important;
	margin-bottom: 0 !important;
	margin-left: 0 !important
}
.padding-top {
	padding-right: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 0 !important
}
.margin-right {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	margin-left: 0 !important
}
.padding-right {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 0 !important
}
.margin-bottom {
	margin-top: 0 !important;
	margin-right: 0 !important;
	margin-left: 0 !important
}
.padding-bottom {
	padding-top: 0 !important;
	padding-right: 0 !important;
	padding-left: 0 !important
}
.margin-left {
	margin-top: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 0 !important
}
.padding-left {
	padding-top: 0 !important;
	padding-right: 0 !important;
	padding-bottom: 0 !important
}
.margin-vertical {
	margin-right: 0 !important;
	margin-left: 0 !important
}
.padding-vertical {
	padding-right: 0 !important;
	padding-left: 0 !important
}
.grain {
	pointer-events: none
}
html.wf-design-mode [href="#"] {
	outline: 3px solid #ff0 !important
}
@media screen and (min-width:768px) {
	[item-style=wide] {
		grid-column-start: span 2;
		grid-column-end: span 2;
		grid-row-start: span 1;
		grid-row-end: span 1
	}
	[item-style=tall] {
		grid-column-start: span 1;
		grid-column-end: span 1;
		grid-row-start: span 2;
		grid-row-end: span 2
	}}
html.lenis {
	height: auto
}
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
body .transition {
	display: block
}
.no-scroll-transition {
	overflow: hidden;
	position: relative
}
.work_card-glow-background {
	width: calc(100% + 16px);
	aspect-ratio: 1/1
}
._02 {
	left: calc(-100% - 32px)
}
._03 {
	top: calc(-100% - 32px)
}
._04 {
	left: calc(-100% - 32px);
	top: calc(-100% - 32px)
}
._05 {
	top: calc(-200% - 32px)
}
._06 {
	left: calc(-100% - 32px);
	top: calc(-200% - 32px)
}
._07 {
	top: calc(-300% - 32px)
}
._08 {
	left: calc(-100% - 24px);
	top: calc(-300% - 32px)
}
[js-line-animation] {
	visibility: hidden
}
[js-line-animation] .line {
	overflow: hidden
}
.about-webflow_circle-reflection-wrapper,
.about-webflow_reflection,
.no-click,
.pointer-events-off,
.transition,
.transition-flaps.is-home-1,
.transition-flaps.is-home-2 {
	pointer-events: none
}
.pointer-events-on {
	pointer-events: auto
}
.div-square::after {
	content: "";
	display: block;
	padding-bottom: 100%
}
main:focus-visible {
	outline: -webkit-focus-ring-color auto 0
}
.container-large,
.container-medium,
.container-small {
	margin-right: auto !important;
	margin-left: auto !important
}
.w-input,
a {
	color: inherit;
	text-decoration: inherit;
	font-size: inherit
}
.hide {
	display: none !important
}
@media screen and (max-width:991px) {
	.hide {
		display: none !important
	}}
@media screen and (max-width:479px) {
	.hide-mobile {
		display: none !important
	}}
.margin-0 {
	margin: 0 !important
}
.padding-0 {
	padding: 0 !important
}
.margin-top {
	margin-right: 0 !important;
	margin-bottom: 0 !important;
	margin-left: 0 !important
}
.padding-top {
	padding-right: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 0 !important
}
.margin-right {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	margin-left: 0 !important
}
.padding-right {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 0 !important
}
.margin-bottom {
	margin-top: 0 !important;
	margin-right: 0 !important;
	margin-left: 0 !important
}
.padding-bottom {
	padding-top: 0 !important;
	padding-right: 0 !important;
	padding-left: 0 !important
}
.margin-left {
	margin-top: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 0 !important
}
.padding-left {
	padding-top: 0 !important;
	padding-right: 0 !important;
	padding-bottom: 0 !important
}
.margin-vertical {
	margin-right: 0 !important;
	margin-left: 0 !important
}
.padding-vertical {
	padding-right: 0 !important;
	padding-left: 0 !important
}
.grain {
	pointer-events: none
}
html.wf-design-mode [href="#"] {
	outline: 3px solid #ff0 !important
}
@media screen and (min-width:768px) {
	[item-style=wide] {
		grid-column-start: span 2;
		grid-column-end: span 2;
		grid-row-start: span 1;
		grid-row-end: span 1
	}
	[item-style=tall] {
		grid-column-start: span 1;
		grid-column-end: span 1;
		grid-row-start: span 2;
		grid-row-end: span 2
	}}
html.lenis {
	height: auto
}
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
body .transition {
	display: block
}
.no-scroll-transition {
	overflow: hidden;
	position: relative
}
[js-line-animation] {
	visibility: hidden
}
[js-line-animation] .line {
	overflow: hidden
}
.about-webflow_circle-reflection-wrapper,
.about-webflow_reflection,
.no-click,
.pointer-events-off,
.transition,
.transition-flaps.is-home-1,
.transition-flaps.is-home-2 {
	pointer-events: none
}
.pointer-events-on {
	pointer-events: auto
}
.div-square::after {
	content: "";
	display: block;
	padding-bottom: 100%
}
main:focus-visible {
	outline: -webkit-focus-ring-color auto 0
}
.container-large,
.container-medium,
.container-small {
	margin-right: auto !important;
	margin-left: auto !important
}
.w-input,
a {
	color: inherit;
	text-decoration: inherit;
	font-size: inherit
}
.hide {
	display: none !important
}
@media screen and (max-width:991px) {
	.hide {
		display: none !important
	}}
@media screen and (max-width:479px) {
	.hide-mobile {
		display: none !important
	}}
.margin-0 {
	margin: 0 !important
}
.padding-0 {
	padding: 0 !important
}
.margin-top {
	margin-right: 0 !important;
	margin-bottom: 0 !important;
	margin-left: 0 !important
}
.padding-top {
	padding-right: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 0 !important
}
.margin-right {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	margin-left: 0 !important
}
.padding-right {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 0 !important
}
.margin-bottom {
	margin-top: 0 !important;
	margin-right: 0 !important;
	margin-left: 0 !important
}
.padding-bottom {
	padding-top: 0 !important;
	padding-right: 0 !important;
	padding-left: 0 !important
}
.margin-left {
	margin-top: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 0 !important
}
.padding-left {
	padding-top: 0 !important;
	padding-right: 0 !important;
	padding-bottom: 0 !important
}
.margin-vertical {
	margin-right: 0 !important;
	margin-left: 0 !important
}
.padding-vertical {
	padding-right: 0 !important;
	padding-left: 0 !important
}
.grain {
	pointer-events: none
}
html.wf-design-mode [href="#"] {
	outline: 3px solid #ff0 !important
}
@media screen and (min-width:768px) {
	[item-style=wide] {
		grid-column-start: span 2;
		grid-column-end: span 2;
		grid-row-start: span 1;
		grid-row-end: span 1
	}
	[item-style=tall] {
		grid-column-start: span 1;
		grid-column-end: span 1;
		grid-row-start: span 2;
		grid-row-end: span 2
	}}
:root {
	--bg-color: rgb(20, 20, 20);
	--resources_item-color: rgb(23, 23, 23)
}
#cards:hover>.resources_item::after {
	opacity: 1
}
.resources_item:hover::before {
	opacity: 1
}
.resources_item::after,
.resources_item::before {
	border-radius: inherit;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: opacity .5s;
	width: 100%
}
.resources_item::before {
	background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, .02), transparent 40%);
	z-index: 3
}
.resources_item::after {
	background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), rgba(180, 180, 180, .6), transparent 55%);
	z-index: 1
}
.resources_item>.resources_content {
	background-color: var(--resources_item-color);
	border-radius: inherit;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	inset: 1px;
	padding: 10px;
	position: absolute;
	z-index: 2
}
html.lenis {
	height: auto
}
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
body .transition {
	display: block
}
.no-scroll-transition {
	overflow: hidden;
	position: relative
}