body.no-scroll {
	overflow: hidden;
}

@media (min-width: 992px) {
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="1af9983a-b94b-0c7d-0e70-6261a10248c3"] {
		-webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		filter: blur(0px);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="342c9d74-f647-fb73-6327-2311516a2ccc"] {
		-webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		filter: blur(0px);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="7087051d-cdd3-36db-4314-4d9fd07d0523"] {
		-webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		filter: blur(0px);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="6f72b1cc-249f-f18c-1cd0-82153aef5c1a"] {
		opacity: 0;
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="0f71b75d-5f42-1e28-e2d4-507f417b5df6"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="0f71b75d-5f42-1e28-e2d4-507f417b5df9"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="8f684ead-f4e8-2ae1-0363-416ace5b28bb"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="8f684ead-f4e8-2ae1-0363-416ace5b28be"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="0eb4d112-7778-6dcd-3fbc-4077f02ed682"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="0eb4d112-7778-6dcd-3fbc-4077f02ed685"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="be183e3a-ddc2-da9f-dc2f-05cfe2def71d"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="be183e3a-ddc2-da9f-dc2f-05cfe2def720"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="cab32fa4-9a45-d1e4-b779-6caec53c1644"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="cab32fa4-9a45-d1e4-b779-6caec53c1647"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="c45ca1fd-925a-389c-b3fe-d1a4d635f9c6"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="c45ca1fd-925a-389c-b3fe-d1a4d635f9c9"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="2d798ff0-f44e-50bf-782e-05f8f574ef38"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="2d798ff0-f44e-50bf-782e-05f8f574ef3b"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="1af9983a-b94b-0c7d-0e70-6261a10248c3"] {
		-webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		filter: blur(0px);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="342c9d74-f647-fb73-6327-2311516a2ccc"] {
		-webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		filter: blur(0px);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="7087051d-cdd3-36db-4314-4d9fd07d0523"] {
		-webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		filter: blur(0px);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="6f72b1cc-249f-f18c-1cd0-82153aef5c1a"] {
		opacity: 0;
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="0f71b75d-5f42-1e28-e2d4-507f417b5df6"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="0f71b75d-5f42-1e28-e2d4-507f417b5df9"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="c45ca1fd-925a-389c-b3fe-d1a4d635f9c6"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="c45ca1fd-925a-389c-b3fe-d1a4d635f9c9"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="cab32fa4-9a45-d1e4-b779-6caec53c1644"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="cab32fa4-9a45-d1e4-b779-6caec53c1647"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="be183e3a-ddc2-da9f-dc2f-05cfe2def71d"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="be183e3a-ddc2-da9f-dc2f-05cfe2def720"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="0eb4d112-7778-6dcd-3fbc-4077f02ed682"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="0eb4d112-7778-6dcd-3fbc-4077f02ed685"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="8f684ead-f4e8-2ae1-0363-416ace5b28bb"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="8f684ead-f4e8-2ae1-0363-416ace5b28be"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="2d798ff0-f44e-50bf-782e-05f8f574ef38"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="2d798ff0-f44e-50bf-782e-05f8f574ef3b"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
}

@media (max-width: 767px) and (min-width: 480px) {
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="0f71b75d-5f42-1e28-e2d4-507f417b5df6"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="0f71b75d-5f42-1e28-e2d4-507f417b5df9"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="c45ca1fd-925a-389c-b3fe-d1a4d635f9c6"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="c45ca1fd-925a-389c-b3fe-d1a4d635f9c9"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="cab32fa4-9a45-d1e4-b779-6caec53c1644"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="cab32fa4-9a45-d1e4-b779-6caec53c1647"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="be183e3a-ddc2-da9f-dc2f-05cfe2def71d"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="be183e3a-ddc2-da9f-dc2f-05cfe2def720"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="0eb4d112-7778-6dcd-3fbc-4077f02ed682"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="0eb4d112-7778-6dcd-3fbc-4077f02ed685"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="8f684ead-f4e8-2ae1-0363-416ace5b28bb"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="8f684ead-f4e8-2ae1-0363-416ace5b28be"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="2d798ff0-f44e-50bf-782e-05f8f574ef38"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="2d798ff0-f44e-50bf-782e-05f8f574ef3b"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
}

@media (max-width: 479px) {
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="0f71b75d-5f42-1e28-e2d4-507f417b5df6"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="0f71b75d-5f42-1e28-e2d4-507f417b5df9"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="c45ca1fd-925a-389c-b3fe-d1a4d635f9c6"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="c45ca1fd-925a-389c-b3fe-d1a4d635f9c9"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="cab32fa4-9a45-d1e4-b779-6caec53c1644"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="cab32fa4-9a45-d1e4-b779-6caec53c1647"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="be183e3a-ddc2-da9f-dc2f-05cfe2def71d"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="be183e3a-ddc2-da9f-dc2f-05cfe2def720"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="0eb4d112-7778-6dcd-3fbc-4077f02ed682"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="0eb4d112-7778-6dcd-3fbc-4077f02ed685"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="8f684ead-f4e8-2ae1-0363-416ace5b28bb"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="8f684ead-f4e8-2ae1-0363-416ace5b28be"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="2d798ff0-f44e-50bf-782e-05f8f574ef38"] {
		background-color: rgb(255, 255, 255);
	}
	html.w-mod-js:not(.w-mod-ix)
		[data-w-id="2d798ff0-f44e-50bf-782e-05f8f574ef3b"] {
		-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
			rotateY(0) rotateZ(0) skew(0, 0);
		transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
			rotateZ(0) skew(0, 0);
		background-color: rgb(229, 229, 229);
	}
}
/* Lenis smooth scroll */
html.lenis {
	height: auto;
}
.lenis.lenis-smooth {
	scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}
.lenis.lenis-stopped {
	overflow: hidden;
}
/* Please keep this css code to improve the font quality */
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.menu_img-flex {
	pointer-events: none;
}
.menu_title.is-1 .char {
	transform-origin: 50% 0%;
}
.menu_title.is-2 .char {
	transform-origin: 50% 100%;
}
.word {
	white-space: nowrap;
}
/* Page transition */
body .transition {
	display: block;
}
.w-editor .transition {
	display: none;
}
.no-scroll-transition {
	overflow: hidden;
	position: relative;
}
/* Home loader */
.loader {
	display: flex;
}
/* General text lines animation */
[js-line-animation] {
	visibility: hidden;
}
.w--editor [js-line-animation] {
	visibility: visible;
}
[js-line-animation] .line {
	overflow: hidden;
}
